<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
DATA SCIENCE Project Student Placement 


<form method="POST" action = "/predict">

<label> CGPA </label>
<input type ="text" name ='cgpa'>

<label> IQ </label>
<input type ="text" name ='iq'>

<label> profile Score  </label>
<input type ="text" name ='ps'>

<input type="submit">

{{prediction}}



</form>

</body>
</html>